.item {
  width: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  background-color: rgb(23 112 162);
  list-style: none;
  border-radius: 15px;
  box-shadow:0 5px 25px rgba(97,218,250,.5);
}

.item-p{
  margin: 24px 0 24px 24px;
  width: calc(100%-120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.item-p--completed{
  text-decoration: line-through;
}
