body {
  width: max-content;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-image: url('https://img.freepik.com/vector-gratis/diseno-futurista-fondo_23-2148503793.jpg?w=900&t=st=1684622132~exp=1684622732~hmac=ead5650c23c7503d6a1950d9141d03b4b89751d4318856c6708c8bd597ae6ca7');
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  text-align: center;
  position: relative;
  width: inherit;
  min-height: 100vh;
}
